<IfModule mod_rewrite.c>
	RewriteBase /
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /api/index.php [L]
</IfModule>
Header set Access-Control-Allow-Origin "https://localhost:8080"
Header set Access-Control-Allow-Credentials true